In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import random
import string
np.random.seed(56)

In [2]:
def id():
    return ''.join(random.choice(string.ascii_letters) for i in range(5))

In [3]:
def score():
    return np.random.randint(0,100)

In [4]:
df=pd.DataFrame({"국어":[score()for i in range(10)],"영어":[score()for i in range(10)],"수학":[score()for i in range(10)],"사회":[score()for i in range(10)],}, index=[id() for i in range(10)])

In [5]:
df

       국어  영어  수학  사회
BcfGS  85  24  28  74
WoiPa  15  12  37  65
TIFVa  64  66  34  16
ABpXF  34  43  15  13
KVxZV  14  11  28  20
zgGuj  87  80  89  44
auDTO  22  33  19  32
oxuQF  57  89  69   8
XzEMT  90  10  41  29
sBXvW  55  31  66  94

In [9]:
df.loc[:,"일본어"]

KeyError: '일본어'

In [10]:
df

       국어  영어  수학  사회
BcfGS  85  24  28  74
WoiPa  15  12  37  65
TIFVa  64  66  34  16
ABpXF  34  43  15  13
KVxZV  14  11  28  20
zgGuj  87  80  89  44
auDTO  22  33  19  32
oxuQF  57  89  69   8
XzEMT  90  10  41  29
sBXvW  55  31  66  94

In [11]:
df.loc[:,"일본어"]

KeyError: '일본어'

In [12]:
df

       국어  영어  수학  사회
BcfGS  85  24  28  74
WoiPa  15  12  37  65
TIFVa  64  66  34  16
ABpXF  34  43  15  13
KVxZV  14  11  28  20
zgGuj  87  80  89  44
auDTO  22  33  19  32
oxuQF  57  89  69   8
XzEMT  90  10  41  29
sBXvW  55  31  66  94

In [14]:
df['아랍어']=[1,2,3,4,5,6,7,8,9,10]

In [15]:
df

       국어  영어  수학  사회  아랍어
BcfGS  85  24  28  74    1
WoiPa  15  12  37  65    2
TIFVa  64  66  34  16    3
ABpXF  34  43  15  13    4
KVxZV  14  11  28  20    5
zgGuj  87  80  89  44    6
auDTO  22  33  19  32    7
oxuQF  57  89  69   8    8
XzEMT  90  10  41  29    9
sBXvW  55  31  66  94   10

In [16]:
df.drop('아랍어', axis=1)

       국어  영어  수학  사회
BcfGS  85  24  28  74
WoiPa  15  12  37  65
TIFVa  64  66  34  16
ABpXF  34  43  15  13
KVxZV  14  11  28  20
zgGuj  87  80  89  44
auDTO  22  33  19  32
oxuQF  57  89  69   8
XzEMT  90  10  41  29
sBXvW  55  31  66  94

In [17]:
df['아럽어']=[score() for i in range(10)]

In [18]:
df

       국어  영어  수학  사회  아랍어  아럽어
BcfGS  85  24  28  74    1   78
WoiPa  15  12  37  65    2   79
TIFVa  64  66  34  16    3   96
ABpXF  34  43  15  13    4   62
KVxZV  14  11  28  20    5   17
zgGuj  87  80  89  44    6   75
auDTO  22  33  19  32    7   49
oxuQF  57  89  69   8    8   93
XzEMT  90  10  41  29    9   44
sBXvW  55  31  66  94   10   14

In [19]:
df

       국어  영어  수학  사회  아랍어  아럽어
BcfGS  85  24  28  74    1   78
WoiPa  15  12  37  65    2   79
TIFVa  64  66  34  16    3   96
ABpXF  34  43  15  13    4   62
KVxZV  14  11  28  20    5   17
zgGuj  87  80  89  44    6   75
auDTO  22  33  19  32    7   49
oxuQF  57  89  69   8    8   93
XzEMT  90  10  41  29    9   44
sBXvW  55  31  66  94   10   14

In [21]:
df.drop['아랍어', axis=1]

SyntaxError: invalid syntax (<ipython-input-21-09a763f4e5c1>, line 1)

In [22]:
df

       국어  영어  수학  사회  아랍어  아럽어
BcfGS  85  24  28  74    1   78
WoiPa  15  12  37  65    2   79
TIFVa  64  66  34  16    3   96
ABpXF  34  43  15  13    4   62
KVxZV  14  11  28  20    5   17
zgGuj  87  80  89  44    6   75
auDTO  22  33  19  32    7   49
oxuQF  57  89  69   8    8   93
XzEMT  90  10  41  29    9   44
sBXvW  55  31  66  94   10   14

In [23]:
df.drop('아랍어',axis=1)

       국어  영어  수학  사회  아럽어
BcfGS  85  24  28  74   78
WoiPa  15  12  37  65   79
TIFVa  64  66  34  16   96
ABpXF  34  43  15  13   62
KVxZV  14  11  28  20   17
zgGuj  87  80  89  44   75
auDTO  22  33  19  32   49
oxuQF  57  89  69   8   93
XzEMT  90  10  41  29   44
sBXvW  55  31  66  94   14